@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

body{
    justify-content: center;
    display: flex;
    min-height: 100vh;
    background: url(img/img.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}

header-cad {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.btn-voltar {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    margin-top: 20px;
    margin: 10px 0 20px;
    padding: 15px 44px 15px 20px;
    text-align: center;
}

.btn-voltar:hover {
    background-color: transparent;
    transition: 0.5s;
}


.btn-voltar a {
    text-decoration: none;
    color: #333;
    justify-content: center;
}

.body-cad{
    justify-content: center;
    display: flex;
    min-height: 100vh;
    background: url(img/nuvens-por-sol.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 30px 40px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(50px);
}

.container-cad { 
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 30px 40px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(50px);
}
.container h1 {
  font-size: 36px;
  text-align: center;
}

.container-cad h1 {
  font-size: 25px;
  text-align: center;
}


.input-box, .input-box-cad{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box-cad input { /*Input box cadastro*/
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255,.2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input { /*Input box login*/
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255,.2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box-cad input::placeholder{
   text-align: center;
   color: #dad8d8;    
}

.input-box input::placeholder{
   text-align: center;
   color: #dad8d8;    
}

.input-box i {
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 5px;
}

.remember-forgot a {
    text-decoration: none;
    color: #fff;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login { /*Botão fazer login*/
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    margin-top: 20px;
}

.enviar-cad { /*Botão enviar cadastro*/
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    margin-top: 20px;
    padding: 15px 44px 15px 20px;
}

.login:hover { /*Hover Botão login*/
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255,.2);
    color: #fff;
    transition: 0.5s;
}

.enviar-cad:hover { /* Hover Botão Enviar Cadastro*/
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255,.2);
    color: #fff;
    transition: 0.5s;
}

.register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15 px;
}

.register-link a {
    text-decoration: none;
    color: #fff;
    font-weight: 650;
}

.register-link a:hover{
    text-decoration: underline;
    cursor: pointer;
}
